body {
  margin: 0;
  height: 100vh;
  background: url("https://www.transparenttextures.com/patterns/old-map.png"),
              #0f172a;
  font-family: 'Cinzel', serif;
}

.map {
  position: relative;
  width: 100%;
  height: 100vh;
}

.card {
  position: absolute;
  width: 140px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.card img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 12px;
  border: 2px solid rgba(255,255,255,0.3);
  transition: 0.3s;
}

.card span {
  display: block;
  margin-top: 5px;
  font-size: 0.9rem;
  opacity: 0.8;
}

.card:hover img {
  transform: scale(1.1);
}


.forest {
  top: 10%;
  left: 15%;
}

.desert {
  top: 80%;
  left: 80%;
}

.cave {
  top: 50%;
  left: 40%;
}

.castle {
  top: 15%;
  left: 65%;
}

.card span {
  opacity: 0;
  transition: 0.3s;
}

.card:hover span {
  opacity: 1;
}